@model BusinessObject.Models.Admin
@{
    ViewData["Title"] = "DetailAdmin";
    Layout = "_Dashboard";

}

<div class="container">
    <main role="main" class="pb-3">
        <div class="card shadow mb-4">
            @* <div class="card-header py-3">
                <h2 class="m-0 font-weight-bold text-black">Detail</h2>
            </div> *@
            <div class="card-body ">
                <div class="row">
                    <div class="text-center">
                        @if(Model.Avatar_img != "")
                        {
                            <img src="@Model.Avatar_img" alt="Avatar" style="height:300px; width:300px;">
                        }
                        else
                        {
                            <img src="/images/bo-2.png" alt="Avatar" style="height:300px; width:300px;">
                        }
                    </div>
                    <div class="col-lg-6">
                        <form>
                            <div class="mb-3">
                                <label>Fullname </label>
                                <p>@Model.Fullname</p>
                            </div>
                            <div class="mb-3">
                                <label>Email </label>
                                <p>@Model.Email</p>
                            </div>
                            <div class="mb-3">
                                <label>Phone: </label>
                                <p>+84 @Model.Phone</p>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <form>
                            <div class="mb-3">
                                <label>Gender </label>
                                <p>@Model.Gender</p>
                            </div>
                            <div class="mb-3">
                                <label> Birthday </label>
                                <p>@Model.Dob</p>
                            </div>
                            <div class="mb-3">
                                <label>Country </label>
                                <p>@Model.Country</p>
                            </div>
                        </form>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#resetModal" data-account-id="@Model.Id" class="btn btn-info" style="text-decoration:none; color: white; margin-bottom: 5px;">Reset Password</a>
                    <a class="btn btn-secondary" style="text-decoration:none; color: white; margin-top: 5px;" asp-action="Admins">Close</a>
                </div>
            </div>

        </div>
    </main>
</div>

<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">Confirm ban account</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>

                </button>
            </div>
            <div class="modal-body">Select "Reset" below if you are ready to reset password to default.</div>

            <div class="modal-footer">
                <form method="post" id="resetForm" action="/Account/ResetPasswordDefault">
                    <input type="hidden"  name="id" value="@Model.Id">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

