    @{
    ViewData["Title"] = "Index";
    Layout = "_Dashboard";

}

<div class="container">
    <main role="main" class="pb-3">
        <h1 class="fw-bold"> <i>Hello Supper Admin, Welcome Back!</i> </h1>

        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-primary mb-2 ml-3">
                                    Admin
                                </div>
                                <div class="h5 mb-2 ml-3 font-weight-bold text-gray-800">5</div>
                            </div>
                            <div class="col-auto mr-3">
                                <i class="fas fa-user-cog fa-2x "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-success mb-2 ml-3">
                                    User
                                </div>
                                <div class="h5 mb-2 ml-3 font-weight-bold text-gray-800">13</div>
                            </div>
                            <div class="col-auto mr-3">
                                <i class="fas fa-user fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-info mb-2 ml-3">
                                    Vocabulary
                                </div>
                                <div class="h5 mb-2 ml-3 font-weight-bold text-gray-800">50</div>
                            </div>
                            <div class="col-auto mr-3">
                                <i class="fas fa-book-open fa-2x "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-warning mb-2 ml-3">
                                    Feedback
                                </div>
                                <div class="h5 mb-2 ml-3 font-weight-bold text-gray-800">10</div>
                            </div>
                            <div class="col-auto mr-3">
                                <i class="fas fa-comment-alt fa-2x "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Area Chart -->
                <div>
                    <div class="card shadow mb-4" >
                        <!-- Card Header - Dropdown -->
                        @* <div class="ml-5 py-3 d-flex flex-row align-items-center justify-content-between">
                            <h5 class="m-0 fw-bold">Age Rate</h5>
                        </div> *@
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="text-center" >
                                <h3>Number of Users by Age and Gender</h3>
                                <span > Year: </span>
                                <select id="yearSelect" onchange="updateChart()" class="mr-3">
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                                <span class="ml-3"> Age: </span>
                                <select id="ageSelect" onchange="updateChart()">
                                    <option value="5-10">5-10</option>
                                    <option value="10-15">10-15</option>
                                    <option value="15-20">15-20</option>
                                    <option value="20-25">20-25</option>
                                </select>

                            </div>
                            <div id="dataContainer"
                                 data-age1-Total="@Html.Raw(Json.Serialize(ViewData["age1Total"]))"
                                 data-age1-Male="@Html.Raw(Json.Serialize(ViewData["age1Male"]))"
                                 data-age1-Female="@Html.Raw(Json.Serialize(ViewData["age1Female"]))"
                                 data-age2-Total="@Html.Raw(Json.Serialize(ViewData["age2Total"]))"
                                 data-age2-Male="@Html.Raw(Json.Serialize(ViewData["age2Male"]))"
                                 data-age2-Female="@Html.Raw(Json.Serialize(ViewData["age2Female"]))"
                                 data-age3-Total="@Html.Raw(Json.Serialize(ViewData["age3Total"]))"
                                 data-age3-Male="@Html.Raw(Json.Serialize(ViewData["age3Male"]))"
                                 data-age3-Female="@Html.Raw(Json.Serialize(ViewData["age3Female"]))"
                                 data-age4-Total="@Html.Raw(Json.Serialize(ViewData["age4Total"]))"
                                 data-age4-Male="@Html.Raw(Json.Serialize(ViewData["age4Male"]))"
                                 data-age4-Female="@Html.Raw(Json.Serialize(ViewData["age4Female"]))"
                                 >
                            </div>
                            <canvas id="userChart" style="border:none;" ></canvas>
                        </div>
                    </div>
                </div>
               @*  <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="ml-3 py-3 d-flex flex-row align-items-center justify-content-between">
                            <h5 class="m-0 fw-bold ">Country Rate</h5>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class=" chart-pie pt-4 pb-2">
                                <canvas id="myPieChart" style="border:none"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> Active
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Deactive
                                </span>
                            </div>
                        </div>
                    </div>
                </div> *@

            </div>

        </div>
    </main>
</div>

<script src="~/js/AgeChart.js"></script>
