@model BusinessObject.Models.Vocabulary

@{
    ViewData["Title"] = "Detail";
    Layout = "_Dashboard";

}

<div class="container">
    <main role="main" class="pb-3">
        <div class="card shadow mb-4">
            @* <div class="card-header py-3">
                <h2 class="m-0 font-weight-bold text-black">Detail</h2>
            </div> *@
            <div class="card-body ">
                <div class="row">
                    <div class="text-center">
                        <label>Image</label>
                    </div>
                    <div class="text-center">
                        <img src="@ViewData["FruitImg"]" alt="Fruit" style="height:300px; width:300px;">
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="mb-3">
                                <label>Word - English </label>
                                <br />
                                <p>@Model.English</p>
                            </div>
                            <div class="mb-3">
                                <label>Word - Vietnamese </label>
                                <br />
                                <p>@Model.Vietnamese</p>
                            </div>
                            <div class="mb-3">
                                <label>Word - Korean </label>
                                <br />
                                <p>@Model.Korean</p>
                            </div>
                            <div class="mb-3">
                                <label>Spelling </label>
                                <br />
                                <p>@Model.Spelling</p>
                            </div>
                            <div class="mb-3">
                                <label>Description - English </label>
                                <br />
                                <p>@Model.Example_EN</p>
                            </div>
                            <div class="mb-3">
                                <label>Description - Vietnamese </label>
                                <br />
                                <p>@Model.Example_VN</p>
                            </div>
                            <div class="mb-3">
                                <label>Description - Korean </label>
                                <br />
                                <p>@Model.Example_KR</p>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-3 d-flex justify-content-start align-items-center">
                                    <label class="mt-4">Sound</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex ">
                                        <p class="mt-3 mr-3 fw-bold">ENG</p>
                                        <audio controls>
                                            <source src="@Model.Voice_EN" type="audio/mpeg">
                                        </audio>
                                    </div>
                                    <div class="d-flex">
                                        <p class="mt-3 mr-4 fw-bold">VIE</p>
                                        <audio controls>
                                            <source src="@Model.Voice_VN" type="audio/mpeg">
                                        </audio>
                                    </div>
                                    <div class="d-flex">
                                        <p class="mt-3 mr-3 fw-bold">KOR</p>
                                        <audio controls>
                                            <source src="@Model.Voice_KR" type="audio/mpeg">
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <a class="btn btn-secondary" style="text-decoration:none; color: white" asp-action="Index">Close</a>
                </div>
            </div>
        </div>
    </main>
</div>
